.content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.join{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-btn{
  width: 100%;
}

.message-box{
  border: 2px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages{
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.inputs{
  display: flex;
  padding: 10px;
}

h2{
  text-align: center;
}

#message{
  flex: 1;
}

.text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
}

.muted{
  font-size: 10px;
  color: darkgray;
}